<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-1">
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand">欢迎进入后台管理</a>
                    <form class="form-inline">
                        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
                        <span class="navbar-text">欢迎【
                            <span class="text-info">{{ username }}</span>】登录</span>
                        <a href="/student/logout" class="btn btn-link text-danger" role="button">退出</a>
                    </form>
                </nav>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3 offset-1">
                <div class="list-group">
                    <a href="/student/index" class="list-group-item list-group-item-action active">学生管理</a>
                    <a href="#" class="list-group-item list-group-item-action">系统管理</a>
                    <a href="#" class="list-group-item list-group-item-action">用户管理</a>
                    <a href="#" class="list-group-item list-group-item-action">修改密码</a>
                    <a href="/student/logout" class="list-group-item list-group-item-action">退出系统</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header p-0">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb bg-transparent mb-0">
                                <li class="breadcrumb-item">
                                    <a href="/student/index">首页</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/student/index">学生管理</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">学生列表</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="card-body">
                        <form action="/student/edit/{{@ data._id }}" method="POST">
                            <div class="form-group row">
                                <label for="studentname" class="col-sm-2 col-form-label">姓名</label>
                                <div class="col-sm-10">
                                    <input required name="studentname" type="text" value="{{ data.studentname }}" class="form-control" id="studentname" placeholder="请输入姓名">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="age" class="col-sm-2 col-form-label">年龄</label>
                                <div class="col-sm-10">
                                    <input required name="age" type="text" value="{{ data.age }}" class="form-control" id="age" placeholder="请输入年龄">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="gender" class="col-sm-2 col-form-label">性别</label>
                                <div class="col-sm-10">
                                    <input required name="gender" type="text" value="{{ data.gender }}" class="form-control" id="gender" placeholder="请输入性别">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phonenumber" class="col-sm-2 col-form-label">电话</label>
                                <div class="col-sm-10">
                                    <input required name="phonenumber" type="text" value="{{ data.phonenumber }}" class="form-control" id="phonenumber" placeholder="请输入电话">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-sm-2 col-form-label">地址</label>
                                <div class="col-sm-10">
                                    <input required name="address" type="text" value="{{ data.address }}" class="form-control" id="address" placeholder="请输入地址">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="intro" class="col-sm-2 col-form-label">简介</label>
                                <div class="col-sm-10">
                                    <textarea required name="intro" class="form-control" placeholder="请输入简介" id="intro" rows="3">{{ data.intro }}</textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10 offset-2">
                                    <button type="submit" class="btn btn-outline-primary">保存</button>
                                    <a href="/student/index" class="btn btn-outline-danger" role="button">取消</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="/jQuery/jquery-3.3.1.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>